a.toc_title Resources
ul.toc_section.links
  //- li: a(href='http://jsondata.com', rel='nofollow', target='_blank') jsondata.com
  //- li: a(href='http://jsontest.com', rel='nofollow', target='_blank')» jsontest.com
  li: a(href='http://jsonlint.com', rel='nofollow', target='_blank') jsonlint.com

a.toc_title Credits
ul.toc_section.links
  li: a(href='https://plus.google.com/116592751623755531677?rel=author', rel='author nofollow', target='_blank') Dave Romero
  li: a(href='http://json.org', rel='nofollow', target='_blank') json.org
  li: a(href='http://opendomain.org', target='_blank') opendomain.org

//twitter script
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>