extends layout
block head
  title 404 Page Not Found | JSON - JavaScript Object Notation
  meta(name='description', content='JSON is a light-weight text-based open standard designed for human-readable data. It is the most widely used format for exchanging data on the web.')
block sidebar
  include includes/sidebar-footer
block supplement
  include includes/sidebar-posts
block content
  h1 #{title}
  p The page you requested could not be found on this site.  Please try our home page for more useful content and links: 
    a(href='/') www.json.com
